<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Sce5_SubmitQuery">
    <classes>
      <class name="DemoProject.E2EProject.ValidateQuerySub"/>
      </classes>
      </test>
   
   <test thread-count="5" name="Sce6_ValidLogin"> 
   <classes>  
      <class name="DemoProject.E2EProject.ValidateSignin"/>
      </classes>
      </test>
      
      <test thread-count="5" name="Test"> 
   <classes> 
      <class name="DemoProject.E2EProject.AppTest"/>
      </classes>
      </test>
      
      <test thread-count="5" name="Sce4_ViewOrderHistory"> 
   <classes> 
      <class name="DemoProject.E2EProject.ValidateOrderHistory"/>
       </classes>
      </test>
      
       <test thread-count="5" name="Sce1_ValidatePageTitle"> 
   <classes> 
      <class name="DemoProject.E2EProject.ValidateTitle"/>
      </classes>
      </test>
      
      
        <test thread-count="5" name="Sce2_RegisterNewuser"> 
   <classes>
      <class name="DemoProject.E2EProject.HomePage"/>
      
      </classes>
      </test>
      
          <test thread-count="5" name="Sce3_Viewaddeditems"> 
   <classes>
      <class name="DemoProject.E2EProject.ValidateAdditems"/>
    </classes>
      
      
  </test> <!-- Test -->
</suite> <!-- Suite -->
